
<footer class="main-footer"   style="  margin: 0px !important; ">
    <strong>Copyright &copy; 2023-2024 <a href="">Travel World</a>.</strong>
    All rights reserved.
  </footer>
  <script>
  
  function myFunction() {
       var id= event.target.className;
        console.log(id);
  var x = document.getElementById(`${id}`);
    console.log(x);
  if (x.style.display === "none") {
    x.setAttribute('style', 'display:  flex !important');
  } else {
    x.setAttribute('style', 'display: none !important');
  }
}
</script>

  </html>