<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="/">Travel World</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto"></ul>
    <a class="nav-link text-white" href="/">Home</a>
    <a class="nav-link text-white" href="/about-us">About</a>
    <a class="nav-link text-white" href="/contact-us">Contact us</a>
    <a class="nav-link text-white" href="/packages">Packages</a>
    <a class="nav-link text-white" href="/faq">FAQ Page</a>
    <a class="nav-link text-white" href="/blogs">Blog</a>
    <a
      style="text-decoration: none"
      class="btn btn-primary ml-3"
      href="/guide/login"
      role="button"
      >Guide Login</a
    >
    <a
      style="text-decoration: none"
      class="btn btn-primary ml-3"
      href="/tourist/login"
      role="button"
      >Tourist Login</a
    >
  </div>
</nav>
