
<%- include("../conn/header.ejs") %>
<!-- Nav Bar Start -->
<%- include("../frontviewComm/navbar.ejs") %>
<!-- NavBar  End -->
<style>
    
    .blog__details__btns__item a {
    font-size: 16px;
    color: #111111;
    font-weight: 600;
    text-transform: uppercase;
    }
    .blog__details__btns__item {
    margin-bottom: 20px;
}
.blog__details__btns__item a span {
    font-size: 24px;
    color: #444444;
    position: relative;
    top: 4px;
    margin-right: 5px;
}
.blog__details__tags {
    padding-top: 30px;
    border-top: 1px solid #e8eff4;
    margin-top: 40px;
    margin-bottom: 60px;
}
.blog__details__tags span {
    font-size: 16px;
    color: #111111;
    font-weight: 600;
    display: inline-block;
    margin-right: 25px;
}
.blog__details__tags a {
    font-size: 14px;
    color: #444444;
    background: #f2f2f2;
    display: inline-block;
    padding: 7px 15px 5px;
    margin-right: 10px;
}
.blog__details__comment {
  position: relative;
}
.blog__details__comment h5 {
  font-size: 20px;
  color: #111111;
  font-weight: 600;
  text-transform: uppercase;
  padding-left: 20px;
  position: relative;
  margin-bottom: 45px;
}
.blog__details__comment h5:before {
  position: absolute;
  left: 0;
  top: 5px;
  height: 14px;
  width: 10px;
  background: rgba(226, 108, 12, 0.3);
  content: "";
}
.blog__details__comment .primary-btn {
  background:rgb(12 7 32 / 20%);
  color: #111111;
  position: absolute;
  right: 0;
  top: -12px;
}
.primary-btn {
    display: inline-block;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    padding: 14px 30px;
    color: #ffffff;
    background: #3c4283;
    letter-spacing: 2px;
}


.blog__details__comment__item {
  overflow: hidden;
  margin-bottom: 45px;
}
.blog__details__comment__item:last-child {
  margin-bottom: 0;
}

.blog__details__comment__item--reply {
  padding-left: 50px;
}

.blog__details__comment__item__pic {
  float: left;
  margin-right: 30px;
}
.blog__details__comment__item__pic img {
  height: 90px;
  width: 90px;
  border-radius: 50%;
}

.blog__details__comment__item__text {
  position: relative;
  overflow: hidden;
}
.blog__details__comment__item__text h6 {
  font-size: 16px;
  color: #111111;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 6px;
}
.blog__details__comment__item__text span {
  font-size: 14px;
  color: #888888;
  display: block;
  margin-bottom: 14px;
}
.blog__details__comment__item__text p {
  color: #444444;
  margin-bottom: 0;
}
.blog__details__comment__item__text .blog__details__comment__btns {
  position: absolute;
  right: 0;
  top: 20px;
}
.blog__details__comment__item__text .blog__details__comment__btns a {
  font-size: 14px;
  color: #111111;
  text-transform: uppercase;
  font-weight: 600;
  margin-right: 24px;
  position: relative;
}
.blog__details__comment__item__text .blog__details__comment__btns a:after {
  position: absolute;
  right: -16px;
  top: -2px;
  content: "|";
  color: #888888;
  font-weight: 500;
}
.blog__details__comment__item__text .blog__details__comment__btns a:last-child {
  margin-right: 0;
}
.blog__details__comment__item__text .blog__details__comment__btns a:last-child:after {
  display: none;
}

</style>
<div class="container mt-5" style="max-width: 1400px">
  <div class="row">
    <div class="col-lg-9 mb-4">

        <article>
            <!-- Post header-->
            <header class="mb-4">
                <!-- Post title-->
                <h1 class="fw-bolder mb-1">Welcome to Blog Post!</h1>
                <!-- Post meta content-->
                <div class="text-muted fst-italic mb-2">Posted on January 02, 2023 by <b>AuthorName</b> </div>
                <!-- Post categories-->
                <a class="badge bg-secondary text-decoration-none link-light" href="#!">Web Design</a>
                <a class="badge bg-secondary text-decoration-none link-light" href="#!">Freebies</a>
            </header>
            <!-- Preview image figure-->
            <img src="https://source.unsplash.com/600x400/?computer" alt="card__image" class="card__image img_blog" width="1000"  height="400">

            <!-- Post content-->
            <section class="mt-5">
                 <p>
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Pariatur inventore praesentium dolor, vero incidunt, provident expedita nostrum id dolores beatae aut. Dolorum odit quis quas. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Qui id quidem reprehenderit maxime excepturi debitis possimus quae quisquam numquam est voluptates nemo, iusto perspiciatis voluptas illum cupiditate modi placeat amet fuga tempora, enim blanditiis, error minima omnis. Dolor consequatur dolorum accusamus in earum voluptatum laudantium asperiores, molestiae nostrum odit sed voluptatibus dolores blanditiis qui ipsum? Similique consectetur deserunt dolore voluptates porro aut quibusdam molestias, saepe libero, alias aperiam quos, numquam et laboriosam. Nisi ipsa quae expedita inventore quo, voluptates enim molestiae obcaecati doloribus suscipit magnam placeat iure? Adipisci itaque quibusdam odio vero ab ducimus provident dolorum, ea, illo commodi nihil, in possimus eos consequatur repellendus? Ipsam totam fuga libero, dolores cumque dolor accusamus nobis sapiente nulla, magni nisi! Voluptatibus, placeat?
                 </p>
            </section>

        </article>

       
         <div class="row" style="flex-direction: row;">
            <div class="col-lg-9">
                <div class="blog__details__tags">
                    <span>Tag</span>
                    <a   style="text-decoration: none;" href="#">Food</a>
                    <a   style="text-decoration: none;"href="#">Material</a>
                    <a   style="text-decoration: none;"href="#">Cakes</a>
                    <a   style="text-decoration: none;"href="#">Baking</a>
                </div>
                
            </div>
            <div class="col-lg-3 blog__details__tags " style="display: flex;">
                  <div class="like col-lg-6" style="justify-content: center;display: flex;align-items: center;">
                    <div class="mr-2">24K</div>
                    <i class="far fa-thumbs-up mr-1"></i>
                     <form action="">
                          <button  class="btn pl-1 pr-1"  >
                            Like
                          </button>
                     </form>
                  </div> 
                  
                  <div class="dislike col-lg-6" style="justify-content: center;display: flex;align-items: center;">
                    <div class="mr-2">24K</div>
                    <i class="far fa-thumbs-down"></i>
                     <form action="">
                          <button  class="btn pl-1 pr-1">

                            Dislike
                          </button>
                     </form>
                  </div>
                
                </div>
         </div>
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6" style="max-width: 50%;">
                <div class="blog__details__btns__item" >
                   <a href="#">
                    <i class="far fa-arrow-alt-circle-left"></i>
                    <span class="arrow_carrot-left"></span> Previous posts
        
                </a>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6" style="max-width: 50%;">
                <div class="blog__details__btns__item blog__details__btns__item--next" style="text-align: end;">
                  
                    <a href="#">Next posts 
                        <span class="arrow_carrot-right"></span>
                        <i class="far fa-arrow-alt-circle-right"></i>
                    </a>
                    
                </div>
            </div>
        </div>
       
        <div class="blog__details__comment mb-5">
            <h5>03 Comment</h5>
        
            <div class="d-flex flex-row  mt-4 mb-4">
                <img class="img-fluid img-responsive rounded-circle mr-2" src="https://source.unsplash.com/600x400/?people" width="38">
                <input type="text" class="form-control mr-3" placeholder="Add comment">
                <button class="btn btn-primary"   style="background-color: #888888; outline: none; border: none;" type="button">Comment</button></div>
            </div>
            <div class="blog__details__comment__item">
                <div class="blog__details__comment__item__pic">
                    <img src="https://source.unsplash.com/600x400/?people" alt="">
                </div>
                <div class="blog__details__comment__item__text">
                    <h6>Dylan Stewart</h6>
                    <span>26 Feb 2020</span>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                    incididunt ut labore et dolore magna aliqua vel facilisis.</p>
                    
                </div>
            </div>
            <div class="blog__details__comment__item blog__details__comment__item--reply">
                <div class="blog__details__comment__item__pic">
                    <img src="https://source.unsplash.com/600x400/?people" alt="">
                </div>
                <div class="blog__details__comment__item__text">
                    <h6>Derrick Patrick</h6>
                    <span>26 Feb 2020</span>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                    incididunt ut labore et dolore magna aliqua vel facilisis.</p>
                    
                </div>
            </div>
            <div class="blog__details__comment__item">
                <div class="blog__details__comment__item__pic">
                    <img src="https://source.unsplash.com/600x400/?people" alt="">
                </div>
                <div class="blog__details__comment__item__text">
                    <h6>Michael Luna</h6>
                    <span>26 Feb 2020</span>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                    incididunt ut labore et dolore magna aliqua vel facilisis.</p>
                    
                </div>
            </div>
        </div>
    
    <div class="col-lg-3 ">
        <div class="card mb-4">
            <div class="card-header">Search</div>
            <div class="card-body">
                <div class="input-group">
                    <input class="form-control" type="text" placeholder="Enter search term..." aria-label="Enter search term..." aria-describedby="button-search">
                    <button class="btn btn-primary" id="button-search" type="button">Go!</button>
                </div>
            </div>
        </div>
        </div>

  </div>
</div>

<!-- Footer Start -->
<%- include("../frontviewComm/footer.ejs") %>
<!-- Footer End -->
