<!-- /header -->
<%- include("../conn/header.ejs") %>
<body class="hold-transition login-page">
     <div class="login-box">
       <div class="card card-outline card-primary">
         <div class="card-header text-center">
           <a href="#" class="h1"><b>Login</b>As</a>
         </div>
         <div class="card-body">
          <a class="btn"   href="/admin/login" style="color:white; "> <div class="admin_login  btn btn-primary btn-block text-white" >Admin</div></a>
          <a class="btn"   style="color:white; " href="/guide/login"><div class="guide_login  btn btn-primary btn-block text-white">Guide</div></a> 
          <a class="btn"   style="color:white; "href="/tourist/login"> <div class="tourist_login  btn btn-primary btn-block text-white">Tourist</div></a>
         </div> 
         <!-- /.login-card-body -->
       </div>
     </div>
     <!-- /.login-box -->
 
     </body>

<%- include("../conn/footer.ejs") %>