<%- include("../conn/header.ejs") %>
 <style>
    @import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");


.img_blog {
  max-width: 100%;
  display: block;
  object-fit: cover;
}

.blog_card {
  display: flex;
  flex-direction: column;
  width: clamp(20rem, calc(20rem + 2vw), 22rem);
  overflow: hidden;
  box-shadow: 0 .1rem 1rem rgba(0, 0, 0, 0.1);
  border-radius: 1em;
  background: #ECE9E6;
background: linear-gradient(to right, #FFFFFF, #ECE9E6);
}
.blog_card1 {
  display: flex;
  flex-direction: column;

  overflow: hidden;
  box-shadow: 0 .1rem 1rem rgba(0, 0, 0, 0.1);
  border-radius: 1em;
  background: #ECE9E6;
background: linear-gradient(to right, #FFFFFF, #ECE9E6);

}




.blogcard_body {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: .5rem;
}


.blog_tag {
  align-self: flex-start;
  padding: .25em .75em;
  border-radius: 1em;
  font-size: .75rem;
}

.tag + .tag {
  margin-left: .5em;
}


.tag-blue {
  background: #cb2d3e;
background: linear-gradient(to bottom, #ef473a, #cb2d3e);
  color: #fafafa;
}

.blogcard_body h4 {
  font-size: 1.5rem;
  text-transform: capitalize;
}

.blog_footer {
  display: flex;
  padding: 1rem;
  margin-top: auto;
}

.user_blog {
  display: flex;
  gap: .5rem;
}

.user__image_blog {
  border-radius: 50%;
}

.user__info_blog > small {
  color: #666;
}
 </style>
<!-- Nav Bar Start -->
<%- include("../frontviewComm/navbar.ejs") %>
<!-- NavBar  End -->
<header class="py-5 bg-light border-bottom mb-4">
    <div class="container">
        <div class="text-center">
            <h1 class="fw-bolder">Welcome to Treval World</h1>
        </div>
    </div>
</header>
<!--  All Blog Body -->
<div class="container">
     <div class="row">
          <div class="col-lg-8">
                <!--  -->
                <!-- <div class="card mb-4">
                    <a href="#!"><img class="card-img-top" src="https://dummyimage.com/850x350/dee2e6/6c757d.jpg" alt="..."></a>
                    <div class="card-body">
                        <div class="small text-muted">January 1, 2022</div>
                        <h2 class="card-title">Featured Post Title</h2>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis aliquid atque, nulla? Quos cum ex quis soluta, a laboriosam. Dicta expedita corporis animi vero voluptate voluptatibus possimus, veniam magni quis!</p>
                        <a class="btn btn-primary" href="#!">Read more →</a>
                    </div>
                </div> -->
                <div class="card blog_card1">
                    <div class="card__header blog_header">
                    <img src="https://source.unsplash.com/600x400/?computer" alt="card__image" class="card__image img_blog" width="730"  height="300">
                    </div>
                    <div class="card__body blogcard_body">
                    <span class="blog_tag tag-blue">Technology</span>
                    <h4>What's new in 2022 Tech</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi perferendis molestiae non nemo doloribus. Doloremque, nihil! At ea atque quidem!</p>
                    </div>
                    <!-- <div class="card__footer blog_footer">
                    <div class="user_blog">
                        <img src="https://i.pravatar.cc/40?img=1" alt="user__image" class="user__image_blog">
                        <div class="user__info_blog">
                        <h5>Jane Doe</h5>
                        <small>2h ago</small>
                        </div>
                    </div>
                    </div>                 -->
                </div>
                <div class="row">
                <!-- Blog Card Strat -->
                <div class="card blog_card">
                    <div class="card__header blog_header">
                    <img src="https://source.unsplash.com/600x400/?computer" alt="card__image" class="card__image img_blog" width="600">
                    </div>
                    <div class="card__body blogcard_body">
                    <span class="blog_tag tag-blue">Technology</span>
                    <h4>What's new in 2022 Tech</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi perferendis molestiae non nemo doloribus. Doloremque, nihil! At ea atque quidem!</p>
                    </div>
                    <div class="card__footer blog_footer">
                    <div class="user_blog">
                        <img src="https://i.pravatar.cc/40?img=1" alt="user__image" class="user__image_blog">
                        <div class="user__info_blog">
                        <h5>Jane Doe</h5>
                        <small>2h ago</small>
                        </div>
                    </div>
                    </div>                
                </div>
                 <!-- Blog Card End -->
               </div>
         </div>

           <div class="col-lg-4">
            <div class="card mb-4">
                <div class="card-header">Search</div>
                <div class="card-body">
                    <div class="input-group">
                        <input class="form-control" type="text" placeholder="Enter search term..." aria-label="Enter search term..." aria-describedby="button-search">
                        <button class="btn btn-primary" id="button-search" type="button">Go!</button>
                    </div>
                </div>
            </div>
           </div>
     </div>
</div>
<!--  All Blog Body -->


<!-- Footer Start -->
<%- include("../frontviewComm/footer.ejs") %>
<!-- Footer End -->
